HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

api명세서.md

__pycache__/

# 법률 데이터
law/
Backend/src/main/resources/data/*

.env
CV/rag_data/chroma.sqlite3

# 도면 이미지 업로드 폴더
**/temp_output/**
**/temp_input/**

# 문서 및 프론트엔드 리소스
docs/
final-frontend-ts/public/annotations/
final-frontend-ts/public/floorplans/
final-frontend-ts/public/result/

# Vite 캐시
**/.vite/
